.contentlist {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.contentlist h1 {
    text-align: center;
}

.contentlist a {
    background-color: #B1ADD4;
    border-top: 1px solid white;
}

.contentlist a:hover{
    background-color: #5E5799;
    border-top: 1px solid white;
}