.imagesheet {
    display: flex;
    flex-flow: row nowrap;
}

.imagesheet-image {
    background-color: cadetblue;
    flex: 4 1;
}

.imagesheet-description {
    background-color: coral;
    flex: 1 1 100px;
    display: flex;
    flex-flow: column;
}