#root {
    position: relative;
}

main{
    background-color: #DBD9ED;
    margin: 6% 15%;
    padding: 2% 5%;
    border: 1px solid black;
    border-radius: 20px;
}

a , a:active, a:visited {
    color: black;
}